<!DOCTYPE html>
<html>
<head>
    <title>Python Starter Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
<table>
    <tr>
        <td style='width: 30%;'>
            <img class='newappIcon' src="{{ url_for('static', filename='newapp-icon.png') }}">
        </td>
        <td>
            <h1 id="message">Currently showing on cinemas close to you</h1>
            {% for cinema in movie_list %}
                <p class="description"></p><b><span class="blue">{{ cinema.name }}:</span></b>
                {% for movie in cinema.listings %}
                    <br>{{ movie.name }}, IMDB: {{ movie.imdb_rating }}
                {% endfor %}
            {% endfor %}
        </td>
    </tr>

</table>
</body>
</html>


